In [45]:
import numpy as np
import pandas as pd

In [89]:
df = pd.DataFrame()
df['a'] = [1,2,np.nan,np.nan]
df['b'] = [3,np.nan,np.nan,np.nan]
df['c'] = [np.nan,np.nan,np.nan,np.nan]
df

     a    b   c
0  1.0  3.0 NaN
1  2.0  NaN NaN
2  NaN  NaN NaN
3  NaN  NaN NaN

In [90]:
df.isnull().mean()

a    0.50
b    0.75
c    1.00
dtype: float64

In [91]:
df1 = df['c']
df1

0   NaN
1   NaN
2   NaN
3   NaN
Name: c, dtype: float64

In [92]:
df = df.loc[:,df.isnull().mean() <= .6]

In [93]:
df

     a
0  1.0
1  2.0
2  NaN
3  NaN

In [94]:
df['c'] = df1
df

/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     a   c
0  1.0 NaN
1  2.0 NaN
2  NaN NaN
3  NaN NaN