In [1]:
from preprocessing import preprocessing as p
import pandas as pd

In [2]:
pre = p.Preprocessor()

In [3]:
pre.read_all_data(dataset_filenames=['application_train.csv','application_test.csv','bureau.csv'])

In [4]:
pre.set_application_train_features()

18
105
Each percentage is all num_vars per cat_vars done
Round 1
2018-06-10 21:06:46.974358
Percentage done 0.05555555555555555
Each percentage is all num_vars per cat_vars done
Round 2
2018-06-10 21:24:50.932007
Percentage done 0.1111111111111111
Each percentage is all num_vars per cat_vars done
Round 3
2018-06-10 21:41:31.899519
Percentage done 0.16666666666666666
Each percentage is all num_vars per cat_vars done
Round 4
2018-06-10 21:58:53.456836
Percentage done 0.2222222222222222
Each percentage is all num_vars per cat_vars done
Round 5
2018-06-10 22:17:10.573557
Percentage done 0.2777777777777778
Each percentage is all num_vars per cat_vars done
Round 6
2018-06-10 22:36:22.415454
Percentage done 0.3333333333333333
Each percentage is all num_vars per cat_vars done
Round 7
2018-06-10 22:54:14.383857
Percentage done 0.3888888888888889
Each percentage is all num_vars per cat_vars done
Round 8
2018-06-10 23:13:50.876873
Percentage done 0.4444444444444444
Each percentage is all num_vars per cat_vars done
Round 9
2018-06-10 23:32:39.925936
Percentage done 0.5
Each percentage is all num_vars per cat_vars done
Round 10
2018-06-10 23:57:39.752067
Percentage done 0.5555555555555556
Each percentage is all num_vars per cat_vars done
Round 11
2018-06-11 00:13:24.182976
Percentage done 0.6111111111111112
Each percentage is all num_vars per cat_vars done
Round 12
2018-06-11 00:30:26.167008
Percentage done 0.6666666666666666
Each percentage is all num_vars per cat_vars done
Round 13
2018-06-11 00:45:20.587402
Percentage done 0.7222222222222222
Each percentage is all num_vars per cat_vars done
Round 14
2018-06-11 01:02:56.492951
Percentage done 0.7777777777777778
Each percentage is all num_vars per cat_vars done
Round 15
2018-06-11 01:28:36.057252
Percentage done 0.8333333333333334
Each percentage is all num_vars per cat_vars done
Round 16
2018-06-11 01:57:22.575970
Percentage done 0.8888888888888888
Each percentage is all num_vars per cat_vars done
Round 17
2018-06-11 02:24:18.269712
Percentage done 0.9444444444444444
Each percentage is all num_vars per cat_vars done
Round 18
2018-06-11 02:55:16.615219
Percentage done 1.0
df_application_train preprocessed. df.data.shape:(1716428, 17)

In [5]:
pre.set_application_train_features(dataset_name = 'application_test')

18
105
Each percentage is all num_vars per cat_vars done
Round 1
2018-06-11 03:21:13.054296
Percentage done 0.05555555555555555
Each percentage is all num_vars per cat_vars done
Round 2
2018-06-11 03:21:49.998814
Percentage done 0.1111111111111111
Each percentage is all num_vars per cat_vars done
Round 3
2018-06-11 03:22:25.488852
Percentage done 0.16666666666666666
Each percentage is all num_vars per cat_vars done
Round 4
2018-06-11 03:23:09.152825
Percentage done 0.2222222222222222
Each percentage is all num_vars per cat_vars done
Round 5
2018-06-11 03:23:57.635804
Percentage done 0.2777777777777778
Each percentage is all num_vars per cat_vars done
Round 6
2018-06-11 03:24:52.951848
Percentage done 0.3333333333333333
Each percentage is all num_vars per cat_vars done
Round 7
2018-06-11 03:25:48.863788
Percentage done 0.3888888888888889
Each percentage is all num_vars per cat_vars done
Round 8
2018-06-11 03:26:54.821441
Percentage done 0.4444444444444444
Each percentage is all num_vars per cat_vars done
Round 9
2018-06-11 03:28:04.539690
Percentage done 0.5
Each percentage is all num_vars per cat_vars done
Round 10
2018-06-11 03:29:26.163482
Percentage done 0.5555555555555556
Each percentage is all num_vars per cat_vars done
Round 11
2018-06-11 03:30:41.142979
Percentage done 0.6111111111111112
Each percentage is all num_vars per cat_vars done
Round 12
2018-06-11 03:32:05.628772
Percentage done 0.6666666666666666
Each percentage is all num_vars per cat_vars done
Round 13
2018-06-11 03:33:31.357551
Percentage done 0.7222222222222222
Each percentage is all num_vars per cat_vars done
Round 14
2018-06-11 03:35:04.605335
Percentage done 0.7777777777777778
Each percentage is all num_vars per cat_vars done
Round 15
2018-06-11 03:36:56.764910
Percentage done 0.8333333333333334
Each percentage is all num_vars per cat_vars done
Round 16
2018-06-11 03:38:57.755265
Percentage done 0.8888888888888888
Each percentage is all num_vars per cat_vars done
Round 17
2018-06-11 03:41:01.232394
Percentage done 0.9444444444444444
Each percentage is all num_vars per cat_vars done
Round 18
2018-06-11 03:43:15.738386
Percentage done 1.0
df_application_train preprocessed. df.data.shape:(1716428, 17)

In [6]:
pre.set_bureau_train_features()

df_bureau preprocessed. df.data.shape:(1716428, 17)

In [10]:
pre.df_bureau_features

            SK_ID_CURR_count
SK_ID_CURR
100001                     7
100002                     8
100003                     4
100004                     2
100005                     3
100007                     1
100008                     3
100009                    18
100010                     2
100011                     4
100013                     4
100014                     8
100015                     4
100016                     7
100017                     6
100019                     2
100020                     4
100022                     2
100023                    13
100025                     1
100026                     3
100027                     3
100028                    12
100029                     4
100030                     6
100031                     7
100032                     4
100033                     1
100035                     9
100036                     1
...                      ...
456220                     5
456221                     5
456223                     5
456224                    17
456225                     9
456226                     2
456227                     4
456229                     1
456230                    12
456231                     7
456232                     2
456233                     1
456234                    10
456235                     3
456236                    13
456237                     1
456238                     6
456239                    11
456240                     2
456241                     5
456242                     1
456243                     7
456244                    23
456246                     3
456247                    11
456249                    13
456250                     3
456253                     4
456254                     1
456255                    11

[305811 rows x 1 columns]

In [12]:
pre.df_application_train_features

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_19_rankpartition,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_20_rankpartition,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_21_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_HOUR_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_DAY_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_WEEK_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_MON_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_QRT_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_YEAR_rankpartition,ORGANIZATION_TYPE_GROUP_PERC_FAM_MEMBERS_CHILDREN_rankpartition
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,519.5,519.5,519.5,466.0,466.5,466.0,466.0,263.5,114.0,301.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,3607.5,1899.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,771.0,771.0,771.0,677.5,677.5,677.5,673.0,985.5,1196.0,502.5
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,8643.5,12127.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,6603.5,6603.5,6603.5,NaN,NaN,NaN,NaN,NaN,NaN,10028.5
5,100042,Cash loans,F,Y,Y,0,270000.0,959688.0,34600.5,810000.0,...,754.5,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,812.0,495.5
6,100057,Cash loans,M,Y,Y,2,180000.0,499221.0,22117.5,373500.0,...,1139.0,1139.0,1139.0,1017.5,1017.0,1014.5,999.5,556.0,779.5,2073.0
7,100065,Cash loans,M,N,Y,0,166500.0,180000.0,14220.0,180000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,2722.5,1899.0
8,100066,Cash loans,F,N,Y,0,315000.0,364896.0,28957.5,315000.0,...,644.0,644.0,644.0,577.5,579.5,577.5,573.0,340.0,1098.5,429.0
9,100067,Cash loans,F,Y,Y,1,162000.0,45000.0,5337.0,45000.0,...,1166.5,1166.5,1166.5,1000.5,1002.5,1001.5,995.0,572.0,1187.0,1769.5
10,100074,Cash loans,F,N,Y,0,67500.0,675000.0,25447.5,675000.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,935.0,4475.5
11,100090,Cash loans,F,N,Y,0,135000.0,261621.0,16848.0,216000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,4560.5,1899.0
12,100091,Cash loans,F,N,Y,0,247500.0,296280.0,23539.5,225000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,3486.0,3607.5,1899.0
13,100092,Cash loans,F,Y,Y,0,90000.0,360000.0,18535.5,360000.0,...,754.5,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,516.0,495.5
14,100106,Revolving loans,M,N,Y,0,180000.0,157500.0,7875.0,157500.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,11472.0,3080.5,1508.5,4376.5
15,100107,Cash loans,M,Y,Y,0,180000.0,296280.0,21690.0,225000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,8643.5,4376.5
16,100109,Cash loans,F,Y,Y,0,202500.0,407520.0,26041.5,360000.0,...,151.5,151.5,151.5,125.5,126.0,126.0,126.0,66.0,188.5,86.5
17,100117,Cash loans,M,Y,Y,0,90000.0,499221.0,22117.5,373500.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,6237.5,935.0,4475.5
18,100128,Cash loans,F,Y,Y,1,225000.0,431280.0,23526.0,360000.0,...,187.5,187.5,187.5,171.5,171.5,171.0,170.5,338.0,302.5,284.0
19,100141,Cash loans,F,Y,Y,0,175500.0,478498.5,46741.5,454500.0,...,1139.0,1139.0,1139.0,NaN,NaN,NaN,NaN,NaN,NaN,729.0
20,100150,Cash loans,F,N,Y,0,99000.0,225000.0,19242.0,225000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,6685.5,4376.5
21,100168,Cash loans,F,N,Y,0,157500.0,266652.0,16443.0,202500.0,...,1354.0,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,2074.0,900.5
22,100169,Cash loans,F,N,Y,0,135000.0,540000.0,27702.0,540000.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,935.0,4475.5
23,100170,Cash loans,M,N,Y,1,337500.0,1313212.5,42493.5,1012500.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,11133.5,10028.5
24,100171,Cash loans,M,Y,Y,0,157500.0,539100.0,29245.5,450000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,9962.0,4376.5
25,100172,Cash loans,F,N,Y,0,76500.0,225000.0,12334.5,225000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,6685.5,4376.5
26,100184,Cash loans,F,N,Y,0,112500.0,256032.0,10759.5,180000.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,6692.0,4475.5
27,100187,Cash loans,F,N,Y,0,225000.0,501363.0,25726.5,418500.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,1899.0
28,100212,Cash loans,F,Y,N,0,90000.0,450000.0,23107.5,450000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,1899.0
29,100222,Cash loans,F,Y,Y,0,360000.0,945000.0,34074.0,945000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,3486.0,3607.5,1899.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,Cash loans,F,N,N,1,360000.0,547272.0,43366.5,495000.0,...,519.5,519.5,519.5,466.0,466.5,466.0,466.0,889.5,320.0,914.5
48715,455965,Cash loans,M,Y,Y,0,315000.0,900000.0,57519.0,900000.0,...,1354.0,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,1389.5,900.5
48716,456007,Cash loans,M,N,Y,0,135000.0,318645.0,16398.0,216000.0,...,6603.5,6603.5,6603.5,NaN,NaN,NaN,NaN,NaN,NaN,4376.5
48717,456008,Cash loans,F,N,Y,0,81000.0,180000.0,13455.0,180000.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,7826.0,5639.5,4475.5
48718,456009,Cash loans,F,N,Y,0,225000.0,360000.0,19530.0,360000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,1899.0
48719,456010,Cash loans,F,N,Y,1,112500.0,690313.5,35374.5,549000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,4390.0
48720,456011,Cash loans,F,Y,Y,1,171000.0,323460.0,23134.5,270000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,1508.5,10028.5
48721,456013,Cash loans,F,N,Y,1,130500.0,468333.0,37129.5,382500.0,...,67.5,67.5,67.5,56.0,55.5,56.0,56.0,79.0,14.0,106.0
48722,456028,Cash loans,M,N,Y,0,220500.0,166500.0,13284.0,166500.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,3486.0,3607.5,1899.0
48723,456058,Cash loans,F,N,N,1,67500.0,315000.0,16213.5,315000.0,...,754.5,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,181.5,1132.5
48724,456111,Cash loans,F,N,Y,1,112500.0,514710.0,17707.5,387000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,1508.5,10028.5
48725,456114,Cash loans,F,N,N,0,45000.0,450000.0,24543.0,450000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,6685.5,4376.5
48726,456115,Cash loans,M,N,Y,1,225000.0,1002339.0,37917.0,846000.0,...,265.5,265.5,265.5,246.5,246.5,246.0,245.0,135.5,392.0,356.5
48727,456116,Cash loans,F,N,N,1,180000.0,149256.0,15291.0,135000.0,...,858.5,858.5,858.5,771.5,771.5,770.5,764.0,442.5,210.0,1298.5
48728,456119,Cash loans,F,N,Y,0,247500.0,685386.0,38398.5,585000.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,6237.5,5639.5,4475.5
48729,456120,Cash loans,F,N,N,2,81000.0,135000.0,16020.0,135000.0,...,6603.5,6603.5,6603.5,NaN,NaN,NaN,NaN,NaN,NaN,12127.0
48730,456122,Cash loans,M,Y,N,2,157500.0,445095.0,40824.0,405000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,4661.0,586.0,5382.5
48731,456123,Cash loans,F,Y,Y,0,112500.0,450000.0,28890.0,450000.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,6237.5,4232.0,4475.5
48732,456166,Cash loans,F,N,Y,0,189000.0,479700.0,54382.5,450000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,8643.5,4376.5
48733,456167,Cash loans,F,N,Y,0,135000.0,1047771.0,37764.0,904500.0,...,1354.0,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,293.5,900.5
48734,456168,Cash loans,F,N,Y,0,135000.0,835686.0,46660.5,765000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,8643.5,4376.5
48735,456169,Cash loans,F,N,N,0,85500.0,109008.0,7411.5,90000.0,...,4637.5,4637.5,4637.5,NaN,NaN,NaN,NaN,NaN,NaN,4475.5
48736,456170,Cash loans,F,Y,Y,0,157500.0,500490.0,48888.0,450000.0,...,4637.5,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,4232.0,4475.5
48737,456189,Cash loans,F,N,Y,0,270000.0,360000.0,28570.5,360000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,8643.5,4376.5
48738,456202,Cash loans,F,Y,N,3,135000.0,252022.5,23112.0,217561.5,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,4661.0,2722.5,5820.0
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,1354.0,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,866.5,900.5
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,1166.5,1166.5,1166.5,NaN,NaN,NaN,NaN,NaN,NaN,2134.5
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,6603.5,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,11436.0,4288.0,10028.5
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,2960.5,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,2722.5,1899.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,754.5,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,1190.5,495.5

In [13]:
pd.merge(pre.df_application_train_features,pre.df_bureau_features, on='SK_ID_CURR')

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_20_rankpartition,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_21_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_HOUR_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_DAY_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_WEEK_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_MON_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_QRT_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_YEAR_rankpartition,ORGANIZATION_TYPE_GROUP_PERC_FAM_MEMBERS_CHILDREN_rankpartition,SK_ID_CURR_count
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,519.5,519.5,466.0,466.5,466.0,466.0,263.5,114.0,301.0,7
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,3607.5,1899.0,3
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,771.0,771.0,677.5,677.5,677.5,673.0,985.5,1196.0,502.5,4
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,8643.5,12127.0,12
4,100042,Cash loans,F,Y,Y,0,270000.0,959688.0,34600.5,810000.0,...,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,812.0,495.5,14
5,100057,Cash loans,M,Y,Y,2,180000.0,499221.0,22117.5,373500.0,...,1139.0,1139.0,1017.5,1017.0,1014.5,999.5,556.0,779.5,2073.0,8
6,100065,Cash loans,M,N,Y,0,166500.0,180000.0,14220.0,180000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,2722.5,1899.0,13
7,100066,Cash loans,F,N,Y,0,315000.0,364896.0,28957.5,315000.0,...,644.0,644.0,577.5,579.5,577.5,573.0,340.0,1098.5,429.0,3
8,100067,Cash loans,F,Y,Y,1,162000.0,45000.0,5337.0,45000.0,...,1166.5,1166.5,1000.5,1002.5,1001.5,995.0,572.0,1187.0,1769.5,17
9,100074,Cash loans,F,N,Y,0,67500.0,675000.0,25447.5,675000.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,935.0,4475.5,3
10,100090,Cash loans,F,N,Y,0,135000.0,261621.0,16848.0,216000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,4560.5,1899.0,2
11,100091,Cash loans,F,N,Y,0,247500.0,296280.0,23539.5,225000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,3486.0,3607.5,1899.0,3
12,100092,Cash loans,F,Y,Y,0,90000.0,360000.0,18535.5,360000.0,...,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,516.0,495.5,13
13,100106,Revolving loans,M,N,Y,0,180000.0,157500.0,7875.0,157500.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,11472.0,3080.5,1508.5,4376.5,1
14,100107,Cash loans,M,Y,Y,0,180000.0,296280.0,21690.0,225000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,8643.5,4376.5,1
15,100109,Cash loans,F,Y,Y,0,202500.0,407520.0,26041.5,360000.0,...,151.5,151.5,125.5,126.0,126.0,126.0,66.0,188.5,86.5,13
16,100117,Cash loans,M,Y,Y,0,90000.0,499221.0,22117.5,373500.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,6237.5,935.0,4475.5,8
17,100128,Cash loans,F,Y,Y,1,225000.0,431280.0,23526.0,360000.0,...,187.5,187.5,171.5,171.5,171.0,170.5,338.0,302.5,284.0,28
18,100150,Cash loans,F,N,Y,0,99000.0,225000.0,19242.0,225000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,6685.5,4376.5,4
19,100168,Cash loans,F,N,Y,0,157500.0,266652.0,16443.0,202500.0,...,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,2074.0,900.5,1
20,100169,Cash loans,F,N,Y,0,135000.0,540000.0,27702.0,540000.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,935.0,4475.5,1
21,100170,Cash loans,M,N,Y,1,337500.0,1313212.5,42493.5,1012500.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,11133.5,10028.5,9
22,100171,Cash loans,M,Y,Y,0,157500.0,539100.0,29245.5,450000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,9962.0,4376.5,8
23,100172,Cash loans,F,N,Y,0,76500.0,225000.0,12334.5,225000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,6685.5,4376.5,3
24,100184,Cash loans,F,N,Y,0,112500.0,256032.0,10759.5,180000.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,6692.0,4475.5,11
25,100187,Cash loans,F,N,Y,0,225000.0,501363.0,25726.5,418500.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,1899.0,4
26,100212,Cash loans,F,Y,N,0,90000.0,450000.0,23107.5,450000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,1899.0,1
27,100222,Cash loans,F,Y,Y,0,360000.0,945000.0,34074.0,945000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,3486.0,3607.5,1899.0,14
28,100223,Cash loans,F,N,N,0,180000.0,490374.0,35811.0,400500.0,...,1166.5,1166.5,1000.5,1002.5,1001.5,995.0,1491.0,1527.0,775.5,7
29,100232,Cash loans,F,N,N,1,102150.0,335592.0,21577.5,265500.0,...,644.0,644.0,577.5,579.5,577.5,573.0,340.0,691.5,972.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42290,455959,Cash loans,M,Y,N,0,225000.0,275373.0,32679.0,225000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,4288.0,4376.5,2
42291,455960,Cash loans,F,N,Y,0,180000.0,1125000.0,65313.0,1125000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,4288.0,4376.5,5
42292,455961,Cash loans,M,N,N,1,135000.0,599778.0,32665.5,477000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,10954.0,4288.0,10028.5,2
42293,455962,Cash loans,M,N,Y,0,112500.0,156384.0,16551.0,135000.0,...,236.5,236.5,204.0,205.0,204.0,203.0,112.0,49.5,171.5,3
42294,455963,Cash loans,F,N,N,1,360000.0,547272.0,43366.5,495000.0,...,519.5,519.5,466.0,466.5,466.0,466.0,889.5,320.0,914.5,2
42295,455965,Cash loans,M,Y,Y,0,315000.0,900000.0,57519.0,900000.0,...,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,1389.5,900.5,3
42296,456008,Cash loans,F,N,Y,0,81000.0,180000.0,13455.0,180000.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,7826.0,5639.5,4475.5,4
42297,456009,Cash loans,F,N,Y,0,225000.0,360000.0,19530.0,360000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,1899.0,1
42298,456010,Cash loans,F,N,Y,1,112500.0,690313.5,35374.5,549000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,586.0,4390.0,4
42299,456011,Cash loans,F,Y,Y,1,171000.0,323460.0,23134.5,270000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,1508.5,10028.5,8
42300,456013,Cash loans,F,N,Y,1,130500.0,468333.0,37129.5,382500.0,...,67.5,67.5,56.0,55.5,56.0,56.0,79.0,14.0,106.0,2
42301,456028,Cash loans,M,N,Y,0,220500.0,166500.0,13284.0,166500.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,3486.0,3607.5,1899.0,4
42302,456058,Cash loans,F,N,N,1,67500.0,315000.0,16213.5,315000.0,...,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,181.5,1132.5,3
42303,456111,Cash loans,F,N,Y,1,112500.0,514710.0,17707.5,387000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,1508.5,10028.5,14
42304,456114,Cash loans,F,N,N,0,45000.0,450000.0,24543.0,450000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,6685.5,4376.5,8
42305,456115,Cash loans,M,N,Y,1,225000.0,1002339.0,37917.0,846000.0,...,265.5,265.5,246.5,246.5,246.0,245.0,135.5,392.0,356.5,7
42306,456116,Cash loans,F,N,N,1,180000.0,149256.0,15291.0,135000.0,...,858.5,858.5,771.5,771.5,770.5,764.0,442.5,210.0,1298.5,2
42307,456119,Cash loans,F,N,Y,0,247500.0,685386.0,38398.5,585000.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,6237.5,5639.5,4475.5,4
42308,456122,Cash loans,M,Y,N,2,157500.0,445095.0,40824.0,405000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,4661.0,586.0,5382.5,4
42309,456123,Cash loans,F,Y,Y,0,112500.0,450000.0,28890.0,450000.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,6237.5,4232.0,4475.5,5
42310,456166,Cash loans,F,N,Y,0,189000.0,479700.0,54382.5,450000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,8353.0,8643.5,4376.5,3
42311,456167,Cash loans,F,N,Y,0,135000.0,1047771.0,37764.0,904500.0,...,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,293.5,900.5,2
42312,456168,Cash loans,F,N,Y,0,135000.0,835686.0,46660.5,765000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,8643.5,4376.5,2
42313,456170,Cash loans,F,Y,Y,0,157500.0,500490.0,48888.0,450000.0,...,4637.5,4637.5,4074.5,4071.0,4073.0,4054.5,2447.5,4232.0,4475.5,3
42314,456189,Cash loans,F,N,Y,0,270000.0,360000.0,28570.5,360000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,8643.5,4376.5,6
42315,456202,Cash loans,F,Y,N,3,135000.0,252022.5,23112.0,217561.5,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,4661.0,2722.5,5820.0,5
42316,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,1354.0,1354.0,1195.5,1195.5,1192.5,1189.0,655.0,866.5,900.5,5
42317,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,11436.0,4288.0,10028.5,5
42318,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,2722.5,1899.0,17
42319,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,754.5,754.5,680.0,679.0,679.5,676.5,1005.0,1190.5,495.5,3