In [1]:
from preprocessing import preprocessing as p
import pandas as pd

In [2]:
pre = p.Preprocessor()

In [3]:
pre.read_all_data(dataset_filenames=['application_train.csv','application_test.csv','bureau.csv'])

In [4]:
pre.set_application_train_features()

df_application_train preprocessed. df.data.shape:(1716428, 17)

In [5]:
pre.set_bureau_train_features()

df_bureau preprocessed. df.data.shape:(1716428, 17)

In [9]:
pre.df_application_train_features

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ORGANIZATION_TYPE_GROUP,PERC_FAM_MEMBERS_CHILDREN
0,100002,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,351000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,Business Entity,0.000000
1,100003,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,1129500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,School,0.000000
2,100004,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,135000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Government,0.000000
3,100006,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,297000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity,0.000000
4,100007,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,513000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Religion,0.000000
5,100008,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,454500.0,...,0,0,0.0,0.0,0.0,0.0,1.0,1.0,Other,0.000000
6,100009,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,1395000.0,...,0,0,0.0,0.0,0.0,1.0,1.0,2.0,Business Entity,0.333333
7,100010,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,1530000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Other,0.000000
8,100011,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,913500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,XNA,0.000000
9,100012,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,405000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Electricity,0.000000
10,100014,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,652500.0,...,0,0,0.0,0.0,0.0,1.0,0.0,0.0,Medicine,0.333333
11,100015,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,135000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,2.0,XNA,0.000000
12,100016,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,67500.0,...,0,0,0.0,0.0,0.0,1.0,0.0,0.0,Business Entity,0.000000
13,100017,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,697500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,Self-employed,0.333333
14,100018,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,679500.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Transport,0.000000
15,100019,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,247500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,Business Entity,0.000000
16,100020,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,387000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,0.0,Government,0.000000
17,100021,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,270000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Construction,0.333333
18,100022,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,157500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Housing,0.000000
19,100023,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,454500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,2.0,Kindergarten,0.500000
20,100024,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,427500.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Self-employed,0.000000
21,100025,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,927000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,4.0,Trade,0.333333
22,100026,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,5.0,Self-employed,0.333333
23,100027,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,225000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,3.0,XNA,0.000000
24,100029,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,247500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Business Entity,0.500000
25,100030,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,225000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Business Entity,0.000000
26,100031,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,702000.0,...,0,0,0.0,0.0,0.0,0.0,2.0,2.0,Business Entity,0.000000
27,100032,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,270000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Industry,0.333333
28,100033,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,675000.0,...,0,0,0.0,0.0,0.0,1.0,0.0,1.0,Military,0.000000
29,100034,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,180000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,297000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,3.0,Business Entity,0.000000
307482,456226,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,472500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,Telecom,0.000000
307483,456227,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,225000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,5.0,XNA,0.000000
307484,456228,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,450000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity,0.000000
307485,456229,Revolving loans,F,N,Y,1,270000.000,180000.0,9000.0,180000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Business Entity,0.500000
307486,456230,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,270000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,1.0,Business Entity,0.333333
307487,456231,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,936000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,8.0,XNA,0.000000
307488,456232,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,135000.0,...,0,0,0.0,0.0,0.0,0.0,2.0,1.0,Government,0.000000
307489,456233,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,450000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,2.0,Business Entity,0.000000
307490,456234,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,135000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,Business Entity,0.000000
307491,456235,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,900000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,7.0,Self-employed,0.500000
307492,456236,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,1575000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Self-employed,0.000000
307493,456237,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,765000.0,...,0,0,0.0,0.0,0.0,0.0,1.0,7.0,School,0.000000
307494,456238,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,450000.0,...,0,0,0.0,0.0,1.0,0.0,0.0,1.0,Self-employed,0.333333
307495,456239,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,675000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,Business Entity,0.000000
307496,456240,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,337500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,2.0,Self-employed,0.000000
307497,456241,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,193500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,6.0,Trade,0.000000
307498,456242,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,1125000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,2.0,Construction,0.000000
307499,456243,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,225000.0,...,0,0,0.0,0.0,0.0,1.0,1.0,0.0,Medicine,0.000000
307500,456244,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,1138500.0,...,0,0,0.0,0.0,0.0,1.0,0.0,5.0,Business Entity,0.000000
307501,456245,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,225000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Industry,0.600000
307502,456246,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,225000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,School,0.333333
307503,456247,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,247500.0,...,0,0,0.0,0.0,0.0,1.0,0.0,2.0,Bank,0.000000
307504,456248,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,225000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Self-employed,0.000000
307505,456249,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,225000.0,...,0,0,0.0,0.0,0.0,2.0,0.0,0.0,XNA,0.000000
307506,456251,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,225000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Services,0.000000
307507,456252,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,225000.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,XNA,0.000000
307508,456253,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,585000.0,...,0,0,1.0,0.0,0.0,1.0,0.0,1.0,School,0.000000
307509,456254,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,319500.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,Business Entity,0.000000
307510,456255,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,675000.0,...,0,0,0.0,0.0,0.0,2.0,0.0,1.0,Business Entity,0.000000