In [1]:
from preprocessing import preprocessing as p
import pandas as pd

In [2]:
pre = p.Preprocessor()

In [3]:
pre.read_all_data(dataset_filenames=['application_train.csv','application_test.csv','bureau.csv'])

In [4]:
pre.set_application_train_features()

18
105
Round 1
2018-06-12 00:24:09.922135
Percentage done: 0.05555555555555555
Round 2
2018-06-12 00:24:43.486749
Percentage done: 0.1111111111111111
Round 3
2018-06-12 00:25:19.260029
Percentage done: 0.16666666666666666
Round 4
2018-06-12 00:26:01.846256
Percentage done: 0.2222222222222222
Round 5
2018-06-12 00:26:48.773292
Percentage done: 0.2777777777777778
Round 6
2018-06-12 00:27:44.992647
Percentage done: 0.3333333333333333
Round 7
2018-06-12 00:28:41.060970
Percentage done: 0.3888888888888889
Round 8
2018-06-12 00:29:46.169000
Percentage done: 0.4444444444444444
Round 9
2018-06-12 00:30:57.001997
Percentage done: 0.5
Round 10
2018-06-12 00:32:22.880228
Percentage done: 0.5555555555555556
Round 11
2018-06-12 00:33:40.387115
Percentage done: 0.6111111111111112
Round 12
2018-06-12 00:35:05.555020
Percentage done: 0.6666666666666666
Round 13
2018-06-12 00:36:34.636250
Percentage done: 0.7222222222222222
Round 14
2018-06-12 00:38:10.943738
Percentage done: 0.7777777777777778
Round 15
2018-06-12 00:40:08.291671
Percentage done: 0.8333333333333334
Round 16
2018-06-12 00:42:11.473160
Percentage done: 0.8888888888888888
Round 17
2018-06-12 00:44:18.032845
Percentage done: 0.9444444444444444
Round 18
2018-06-12 00:46:39.603005
Percentage done: 1.0
df_application_train preprocessed. df.data.shape:(1716428, 17)

In [5]:
pre.set_application_train_features(dataset_name = 'application_test')

18
105
Round 1
2018-06-12 00:48:39.112551
Percentage done: 0.05555555555555555
Round 2
2018-06-12 00:49:13.477675
Percentage done: 0.1111111111111111
Round 3
2018-06-12 00:49:48.223762
Percentage done: 0.16666666666666666
Round 4
2018-06-12 00:50:28.821913
Percentage done: 0.2222222222222222
Round 5
2018-06-12 00:51:14.553379
Percentage done: 0.2777777777777778
Round 6
2018-06-12 00:52:06.753204
Percentage done: 0.3333333333333333
Round 7
2018-06-12 00:56:19.020299
Percentage done: 0.3888888888888889
Round 8
2018-06-12 00:57:30.742212
Percentage done: 0.4444444444444444
Round 9
2018-06-12 00:58:39.855249
Percentage done: 0.5
Round 10
2018-06-12 01:00:02.228511
Percentage done: 0.5555555555555556
Round 11
2018-06-12 01:01:16.617784
Percentage done: 0.6111111111111112
Round 12
2018-06-12 01:02:35.265254
Percentage done: 0.6666666666666666
Round 13
2018-06-12 01:03:54.287742
Percentage done: 0.7222222222222222
Round 14
2018-06-12 01:05:20.293625
Percentage done: 0.7777777777777778
Round 15
2018-06-12 01:07:07.307552
Percentage done: 0.8333333333333334
Round 16
2018-06-12 01:09:02.173235
Percentage done: 0.8888888888888888
Round 17
2018-06-12 01:11:00.149110
Percentage done: 0.9444444444444444
Round 18
2018-06-12 01:13:09.588748
Percentage done: 1.0
df_application_train preprocessed. df.data.shape:(1716428, 17)

In [6]:
pre.set_bureau_train_features()

df_bureau preprocessed. df.data.shape:(1716428, 17)

In [7]:
pre.df_bureau_features.head()

            SK_ID_CURR_count
SK_ID_CURR
100001                     7
100002                     8
100003                     4
100004                     2
100005                     3

In [8]:
pre.df_application_train_features.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_19_rankpartition,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_20_rankpartition,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_21_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_HOUR_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_DAY_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_WEEK_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_MON_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_QRT_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_YEAR_rankpartition,ORGANIZATION_TYPE_GROUP_PERC_FAM_MEMBERS_CHILDREN_rankpartition
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,7178.5,7180.5,7178.0,6068.0,6080.0,5922.0,5053.5,5029.0,4645.0,4610.5
26,100031,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,702000.0,...,7178.5,7180.5,7178.0,6068.0,6080.0,5922.0,5053.5,11797.0,7325.0,4610.5
40,100047,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,855000.0,...,7178.5,7180.5,7178.0,6068.0,6080.0,5922.0,11839.0,5029.0,10577.5,4610.5
42,100049,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,238500.0,...,3486.5,3488.0,3488.0,2837.0,2839.5,2771.0,2430.0,2297.5,3221.0,2224.0
81,100096,Cash loans,F,N,Y,0,81000.0,252000.0,14593.5,252000.0,...,3785.5,3785.0,3785.5,3181.0,3171.5,3096.5,2763.0,2554.0,832.0,3633.5

In [10]:
train_features = pd.merge(pre.df_application_train_features,pre.df_bureau_features, on='SK_ID_CURR', how='left')
train_features.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_20_rankpartition,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_21_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_HOUR_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_DAY_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_WEEK_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_MON_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_QRT_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_YEAR_rankpartition,ORGANIZATION_TYPE_GROUP_PERC_FAM_MEMBERS_CHILDREN_rankpartition,SK_ID_CURR_count
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,7180.5,7178.0,6068.0,6080.0,5922.0,5053.5,5029.0,4645.0,4610.5,8.0
1,100031,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,702000.0,...,7180.5,7178.0,6068.0,6080.0,5922.0,5053.5,11797.0,7325.0,4610.5,7.0
2,100047,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,855000.0,...,7180.5,7178.0,6068.0,6080.0,5922.0,11839.0,5029.0,10577.5,4610.5,5.0
3,100049,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,238500.0,...,3488.0,3488.0,2837.0,2839.5,2771.0,2430.0,2297.5,3221.0,2224.0,7.0
4,100096,Cash loans,F,N,Y,0,81000.0,252000.0,14593.5,252000.0,...,3785.0,3785.5,3181.0,3171.5,3096.5,2763.0,2554.0,832.0,3633.5,1.0

In [11]:
test_features = pd.merge(pre.df_application_test_features, pre.df_bureau_features, on='SK_ID_CURR',how='left')
test_features.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_20_rankpartition,ORGANIZATION_TYPE_GROUP_FLAG_DOCUMENT_21_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_HOUR_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_DAY_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_WEEK_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_MON_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_QRT_rankpartition,ORGANIZATION_TYPE_GROUP_AMT_REQ_CREDIT_BUREAU_YEAR_rankpartition,ORGANIZATION_TYPE_GROUP_PERC_FAM_MEMBERS_CHILDREN_rankpartition,SK_ID_CURR_count
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,519.5,519.5,466.0,466.5,466.0,466.0,263.5,114.0,301.0,7.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,2960.5,2960.5,2475.5,2476.5,2475.5,2463.0,1264.5,3607.5,1899.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,771.0,771.0,677.5,677.5,677.5,673.0,985.5,1196.0,502.5,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,6603.5,6603.5,5749.0,5756.0,5747.0,5712.5,3080.5,8643.5,12127.0,12.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,6603.5,6603.5,NaN,NaN,NaN,NaN,NaN,NaN,10028.5,NaN

In [13]:
import os
os.path

In [21]:
path_train = r'/Users/edwardpavlovsky/desktop/ml/home_credit/output'
train_features.to_csv(path_train + r'/train_features.csv')

In [22]:
path_test = r'/Users/edwardpavlovsky/desktop/ml/home_credit/output'
test_features.to_csv(path_test + r'/test_features.csv')